@import "tailwindcss";

@theme {
  --color-primary: #1a2942;
  --color-secondary: #64748b;
  --color-background: #f8f9fa;
  --color-textMain: #1f2937;
}

@layer base {
  body {
    @apply bg-background text-textMain font-sans antialiased;
  }
}
